body {
    background:no-repeat center;
    background-image: url(img/background.png);
    background-size: 100% 100%;
    background-color: white;
}
#main {
width: 976px;
margin: auto;
}

.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    }


.gotomain {
    margin: 5px;
    padding: 10px; 
    font-size: 40px;
    border: 1px solid gray;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: -5px 5px 5px rgba(122,122,122,0.5);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 86%,rgba(237,237,237,1) 87%,rgba(255,255,255,1) 100%);
    cursor: pointer;
}

.gotomain:hover {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 86%,rgba(243,243,243,1) 87%,rgba(255,255,255,1) 100%);
    text-decoration: underline;
}

.info {
    margin: 5px;
    padding: 10px; 
    border: 1px solid gray;
    box-shadow: -5px 5px 5px rgba(122,122,122,0.5);
    text-align:center;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 86%,rgba(237,237,237,1) 87%,rgba(255,255,255,1) 100%);
}

.title {
    text-align: center;
    font-size: 40px;
}

.subtitle {
    padding-top: 10px;
    font-size: 25px;
    text-decoration: underline;
}

.map {
    margin: 5px;
    padding: 10px; 
    border: 1px solid gray;
    box-shadow: -5px 5px 5px rgba(122,122,122,0.5);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 86%,rgba(237,237,237,1) 87%,rgba(255,255,255,1) 100%);
}


img {
    height: 531px;
    width: 944px;
}

.text, p {
    text-align:initial;
}

.stats {
    margin: 5px;
    padding: 10px; 
    border: 1px solid gray;
    height: 325px;
    width: 300px;
    box-shadow: -5px 5px 5px rgba(122,122,122,0.5);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 86%,rgba(237,237,237,1) 87%,rgba(255,255,255,1) 100%);
    float:left;
}

.symbols {
    margin: 5px;
    padding: 10px; 
    border: 1px solid gray;
    box-shadow: -5px 5px 5px rgba(122,122,122,0.5);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 86%,rgba(237,237,237,1) 87%,rgba(255,255,255,1) 100%);
    height: 325px;
    float:left;
}

.statsandsymbols:after {
    content: "";
    display: table;
    clear: both;
}

.symbolwrapper1 {
    height: 325px;
    width: 358px;
    padding-right: 4px;
    float:left;
}

.symbolwrapper2 {
    height: 325px;
    width: 250px;
    float:left;
}

.symbols:after {
    content: "";
    display: table;
    clear: both;
}


.symbol1 {
    height: 300px;
    width: 358px;
    
}

.symbol2 {
    height: 300px;
    width: 250px;
    
}



